<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebScraperConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
                                                                                                                        </configSections>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <entityFramework>
      <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
        <parameters>
          <parameter value="mssqllocaldb" />
        </parameters>
      </defaultConnectionFactory>
      <providers>
        <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
    </entityFramework>
    <connectionStrings>
      <add name="ScrapedItem" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=WebScraper.ScrapedItem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
      <trace autoflush="true" indentsize="4">
        <listeners>
          <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="Timestamp, DateTime" initializeData="log.log" />
          <remove name="Default" />
        </listeners>
      </trace>
    </system.diagnostics>
    <userSettings>
        <WebScraperConsole.Properties.Settings>
            <setting name="Mode" serializeAs="String">
                <value>export</value>
            </setting>
            <setting name="PageLimitToStop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagesToSkip" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="UrlToStart" serializeAs="String">
                <value>http://www.houzz.co.uk/professionals/c/Greenwich%2C-UK</value>
            </setting>
            <setting name="SearchesToSkip" serializeAs="String">
                <value>0</value>
            </setting>
        </WebScraperConsole.Properties.Settings>
    </userSettings>
</configuration>